---
- name: remove EOLed opsys
  command: faf releasemod -o "{{ item.opsys }}" --opsys-release "{{ item.release }}" -s EOL
  loop: "{{eol_opsys|selectattr('opsys')|selectattr('release')|list}}"
  become: yes
  become_user: faf

- name: remove EOLed packages
  command: faf cleanup-packages "{{ item.opsys }}" "{{ item.release }}"
  loop: "{{eol_opsys|selectattr('opsys')|selectattr('release')|list}}"
  become: yes
  become_user: faf

# Skip whole block if faf owns atleast 1 table in db
- block:
  - name: create faf's database schema
    command: faf-migrate-db --create-all
    become: yes
    become_user: faf

  - name: stamp database as migrated to latest version
    command: faf-migrate-db --stamp-only
    become: yes
    become_user: faf

  - name: init faf
    command: faf init
    become: yes
    become_user: faf
  when: ( count_tables.stdout_lines[2]|int ) == 0
